<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{page.title}}
    </div>
	<div class = "post-author">
	  by {{page.author}}
	</div>
	
    <div class="post-date">
      {{page.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {% if summarize_text is none %}
	{{page._render_text | safe }}
	{% else %}
	{{page._render_text[:1000] | safe}}
	{% endif %}

  </div>
	{% if summarize_text is none %}
	{% else %}
	<a class = "gray-link"  href="{{page.url_path}}">Continue reading ... </a> 
	{% endif %}
  
  
  
</div>
