<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
	<a href="/" class ="main-title">
		TechRag
	</a>
	<br>
    <h2>Login</h2>
  
	<form method="post">
		<table>
			<tr> 
				<td class ="label">
					Username
				</td>
				<td>
					<input type = "text" name = "username" value= "{{name_provided}}" >
				</td>
				<td class="error">
					{{general_error}}
				</td>
			</tr>
		
			<tr>
				<td class="label">
					Password
				</td>
				<td>
					<input type = "password" name = "password" value="">
				</td>
				<td class ="error">
					{{password_error}}
				</td>
			</tr>
		</table>
	
		<input type = "submit">
		<input type="hidden" name="prior_url" value={{prior_url}} />
	</form>
	</body>
</html>
